<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="author" content="Deivi Campos">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TarabTickets</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/popper.min.js}" defer></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body class="bodyHomeAdmin">
	<header class="sticky-top">
		<nav class="navbar bg-body-tertiary bg-dark">
		  <div class="container-fluid">
		    <a class="navbar-brand text-white" th:href="@{/admin}">T A R A B T I C K E T S</a>
		    <a class="navbar-toggler border-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
		      <i class="bi bi-list fs-2 text-white"></i>
		    </a>
		    <div class="offcanvas offcanvas-end w-25 text-center text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
		      <div class="offcanvas-header">
		        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
		        <button type="button" class="btn-close text-bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		      </div>
		      <div class="offcanvas-body">
		        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
		          <li class="nav-item mb-3">
		            <a class="btn w-100 p-3 btn-secondary" th:href="@{/admin/formEvento}">Crear Evento</a>
		          </li>
		          <li class="nav-item mb-3">
		            <form th:action="@{/logout}" method="post">
		         		<button type="submit" class="btn btn-warning w-100 p-3 text-white">Cerrar sesión</button>
		        	</form>
		          </li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</nav>
	</header>
	<main class="container mt-5">
		<div th:if="${eventos?.isEmpty()}">
			<div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
			  	<h3>Actualmente no hay eventos disponibles.</h3>
			  <button type="button" class="btn-close fs-3" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		<div th:unless="${eventos?.isEmpty()}">
			<div class="row justify-content-center">
				<div class="col-4" th:each="evento : ${eventos}">
					<div class="card mb-4 box-shadow text-center border-0">
						<div class="card-header" th:text="${evento.nombre}"></div>
						<div class="card-body">
							<h6 class="card-title"  th:text="${evento.artista.nombre}"></h6>
							<p class="card-text" th:text="${evento.lugar.nombre}"></p>
							<p class="card-text" th:text="${evento.artista.genero.nombre}"></p>
							<div class="row mb-3">
								<div class=col-6>
									<p class="card-text" th:text="${evento.lugar.pais.nombre}"></p>			
								</div>
								<div class=col-6>
									<p class="card-text" th:text="${evento.hora}"></p>
								</div>
							</div>
							<div class="row">
								<div class=col-6>
									<a href="#" data-bs-toggle="modal" th:data-bs-target="'#exampleModal-' + ${evento.idEvento}" class="btn w-100 text-bg-dark">Editar</a>				
								</div>
								<div class=col-6>
									<a href="#" data-bs-toggle="modal" th:data-bs-target="'#exampleModalDelete-' + ${evento.idEvento}" class="btn w-100 text-bg-danger">Eliminar</a>
								</div>
							</div>
						</div>
						<div class="card-footer" th:text="${evento.fecha}"></div>
					</div>
					<!-- Modal -->
					<div class="modal fade" th:id="'exampleModal-' + ${evento.idEvento}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog modal-md">
							<div class="modal-content text-center">
								<div class="modal-header text-bg-dark">
									<h4 class="modal-title" id="exampleModalLabel">Detalles</h4>
									<button type="button" class="btn-close text-bg-secondary" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form th:action="@{/admin/modificar/{id}(id=${evento.idEvento})}" method="POST">
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										<div class="form-group mb-3">
											<p th:text="${evento.nombre}"></p>
										</div>
										<div class="form-group mb-3">
											<label for="estado">Lugar:</label> 
											<select id="estado" name="lugar" class="form-control text-center form-select">
												<option th:each="lugar : ${lugares}" th:value="${lugar.idLugar}" th:text="${lugar.nombre}" class="text-center" th:selected="${lugar.idLugar == evento.lugar.idLugar}"></option>
											</select>
										</div>
										<div class="form-group mb-3">
											<label for="estado">Artista:</label> 
											<select id="artista" name="artista" class="form-control text-center form-select">
												<option th:each="artista : ${artistas}" th:value="${artista.idArtista}" th:text="${artista.nombre}" class="text-center" th:selected="${evento.artista.idArtista == artista.idArtista}"></option>
											</select>
										</div>
										<div class="form-group mb-3">
											<div class="form-floating">
											  <input type="date" class="form-control text-center" id="fecha" name="fecha" th:value=${evento.fecha}>
											  <label for="fecha">Fecha</label>
											</div>
										</div>
										<div class="form-group mb-3">
											<div class="form-floating">
											  <input type="time" class="form-control text-center" id="hora" name="hora" th:value=${evento.hora}>
											  <label for="hora">Hora</label>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
											<button type="submit" class="btn btn-primary">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					
<!-- 					Modal elimiar -->
					<div class="modal fade" th:id="'exampleModalDelete-' + ${evento.idEvento}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-md">
							<div class="modal-content text-center">
								<div class="modal-header text-bg-dark">
									<h4 class="modal-title" id="exampleModalLabel">Detalles</h4>
									<button type="button" class="btn-close text-bg-secondary" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form th:action="@{/admin/eliminar/{id}(id=${evento.idEvento})}" method="POST">
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										<div class="form-group">
											<label for="nombre">Nombre:</label>
											<p th:text="${evento.nombre}"></p>
										</div>
										<div class="form-group">
											<label for="artista">Artista:</label>
											<p th:text="${evento.artista.nombre}"></p>
										</div>
										<div class="form-group row">
											<div class="col-6">
												<label for="fecha">Fecha:</label>
												<p th:text="${evento.fecha}"></p>
											</div>
											<div class="col-6">
												<label for="hora">Hora:</label>
												<p th:text="${evento.hora}"></p>
											</div>
										</div>
										<div class="modal-footer justify-content-center">
											<button type="submit" class="btn btn-primary w-25">Eliminar</button>
											<button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Cerrar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="container py-5">
		   <div class="row">
		     <div class="col-md-6 text-center">
		       <h3 class="mb-3">Síguenos en redes sociales</h3>
		       <ul class="list-inline fs-4">
		         <li class="list-inline-item"><a href="#"><i class="bi bi-facebook fs-4"></i></a></li>
		         <li class="list-inline-item"><a href="#"><i class="bi bi-tiktok fs-4"></i></a></li>
		         <li class="list-inline-item"><a href="#"><i class="bi bi-instagram fs-4"></i></a></li>
		         <li class="list-inline-item"><a href="#"><i class="bi bi-whatsapp fs-4"></i></a></li>
		       </ul>
		     </div>
		     <div class="col-md-6 text-md-center text-secondary">
		       <p class="mb-0">© 2023 KARAB TICKETS.</p>
		       <p class="mb-0">Creado por <a href="https://porfafolio.netlify.app/" target="_blank">Deivi Campos</a>.</p>
		     </div>
		   </div>
		</div>
	</footer>
</body>
</html>